@use "./initial";

.ticker-element {
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    text-align: center;
    transition: all 0.3s;
    position: relative;
    border-color: var(--accent);
}

.ticker-block {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    &:hover {
        .ticker-block-btns {
            opacity: 1;
            visibility: visible;
        }
    }
}

.ticker-block-label {
    opacity: 0.3;
    transition: all 0.3s;
    cursor: none;
    align-self: center;
    &:hover {
        opacity: 1;
    }
}

.ticker-block-input {
    width: 150px;
    height: 150px;

    input {
        width: 100%;
        height: 100%;
        font-size: 110px;
        line-height: 1;
        border-radius: 10px;
        text-shadow: 0 0 5px var(--accent);
        box-shadow: inset 0 0 5px var(--accent);
        text-align: center;
        cursor: default;
        // pointer-events: none;
    }
}

.ticker-block-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.ticker-block-btn {
    cursor: pointer;
    padding: 3px 10px;
    line-height: 1;
    font-size: 25px;
    margin-top: 10px;
    &:nth-child(1) {
        border-right-width: 0px;
    }
    &:active {
        opacity: 0.7;
    }
}

.ticker-element-commands {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 60px;
    transition: all 0.3s;
    color: var(--accent);
}

.ticker-element-command {
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    &--start {
    }
    &--stop {
        border-color: var(--alarm);
        color: var(--alarm);
        &:hover {
            background-color: var(--alarm);
            color: var(--bg);
            box-shadow: 0 0 10px var(--alarm);
        }
    }
    &:active {
        opacity: 0.5;
    }
}

.ticker-element-options {
    order: 2;
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    opacity: 0.4;
    transition: opacity 0.2s;
    span {
        font-size: 20px;
    }
    button {
        border-radius: 7px;
        &:active {
            opacity: 0.5;
        }
    }
    &:hover {
        opacity: 1;
    }
}

.ticker-block-btn-save {
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    padding: 0;
    border: none;
    opacity: 0.5;
    &:hover {
        opacity: 1;
        text-decoration: underline;
        box-shadow: none;
        background-color: var(--bg);
        color: var(--accent);
    }
    &:active {
        opacity: 0.7;
    }
}

.ticker-element-option {
    position: relative;
    white-space: nowrap;
    .ticker-element-option-title {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-20px);
        padding-bottom: 5px;
        font-size: 12px !important;
        opacity: 0;
        visibility: hidden;
        &:hover {
            text-decoration: underline;
            opacity: 1 !important;
        }
        &:active {
            text-decoration: initial;
        }
    }
    &:hover {
        .ticker-element-option-title {
            opacity: 0.5;
            visibility: visible;
            color: var(--accent);
            z-index: 11;
        }
    }
}

.ticker-element-options-title {
    white-space: nowrap;
}

// ================================================================================================

.working {
    transform: scale(2.5) translateY(20px);
    position: relative;
    pointer-events: none;
}

.obscured {
    opacity: 0;
    visibility: hidden;
}

.dimmed {
    opacity: 0.25;
    &:hover {
        opacity: 1;
    }
}

.moved-down {
    transform: translateY(50px);
}

// ================================================================================================

.paused {
    // animation: blink 3s linear 0s iteration-count direction fill-mode;
    animation: blink 3s ease 0s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}
