@use "./initial";

.active {
    background-color: var(--accent);
    color: var(--bg);
    box-shadow: 0 0 5px var(--accent);
}

// ================================================================================================

.hidden {
    display: none !important;
}

.working {
    transform: scale(2.5) translateY(20px);
    position: relative;
    pointer-events: none;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%) scale(2.5);

    @media (min-width: 1700px) {
        // transform: translate(-50%, -50%) scale(2.7);
        transform: scale(2.7) translateY(20px);
    }
    @media (min-width: 1900px) {
        // transform: translate(-50%, -50%) scale(3);
        transform: scale(3) translateY(20px);
    }
    @media (max-width: 1390px) {
        // transform: translate(-50%, -50%) scale(2.2);
        transform: scale(2.2) translateY(20px);
    }
    @media (max-width: 1240px) {
        // transform: translate(-50%, -50%) scale(2);
        transform: scale(2) translateY(20px);
    }
    @media (max-width: 1140px) {
        // transform: translate(-50%, -50%) scale(1.8);
        transform: scale(1.8) translateY(20px);
    }
    @media (max-width: 1040px) {
        // transform: translate(-50%, -50%) scale(1.6);
        transform: scale(1.6) translateY(20px);
    }
    @media (max-width: 940px) {
        // transform: translate(-50%, -50%) scale(1.4);
        transform: scale(1.4) translateY(20px);
    }
    @media (max-width: 830px) {
        // transform: translate(-50%, -50%) scale(1.3);
        transform: scale(1.3) translateY(20px);
    }
    @media (max-width: #{initial.$md3 + 'px'}) {
        // transform: translate(-50%, -50%) scale(1.5);
        transform: scale(1.5) translateY(20px);
    }
    @media (max-width: 730px) {
        // transform: translate(-50%, -50%) scale(1.3);
        transform: scale(1.3) translateY(20px);
    }
    @media (max-width: 640px) {
        // transform: translate(-50%, -50%) scale(1.2);
        transform: scale(1.2) translateY(20px);
    }
    @media (max-width: 580px) {
        // transform: translate(-50%, -50%) scale(1.1);
        transform: scale(1.1) translateY(20px);
    }
    @media (max-width: 535px) {
        // transform: translate(-50%, -50%) scale(1);
        transform: scale(1) translateY(20px);
    }

    @media ((min-height: 1080px) and (max-width: 1700px)) {
        transform: translateY(-50%) scale(2.2);
    }
    @media ((min-height: 1080px) and (max-width: 1240px)) {
        transform: translateY(-50%) scale(2);
    }
    @media ((min-height: 1080px) and (max-width: 1140px)) {
        transform: translateY(-50%) scale(1.8);
    }
    @media ((min-height: 1080px) and (max-width: 1040px)) {
        transform: translateY(-50%) scale(1.6);
    }
    @media ((min-height: 1080px) and (max-width: 940px)) {
        transform: translateY(-50%) scale(1.4);
    }
    @media ((min-height: 1080px) and (max-width: 830px)) {
        transform: translateY(-50%) scale(1.3);
    }
    @media ((max-width: #{initial.$md3 + 'px'}) and (max-width: 830px)) {
        // transform: translate(-50%, -50%) scale(1.5);
        transform: scale(1.5) translateY(-50%);
    }
    @media ((max-width: 730px) and (max-width: 830px)) {
        // transform: translate(-50%, -50%) scale(1.3);
        transform: scale(1.3) translateY(-50%);
    }
    @media ((max-width: 640px) and (max-width: 830px)) {
        // transform: translate(-50%, -50%) scale(1.2);
        transform: scale(1.2) translateY(-50%);
    }
    @media ((max-width: 580px) and (max-width: 830px)) {
        // transform: translate(-50%, -50%) scale(1.1);
        transform: scale(1.1) translateY(-50%);
    }
    @media ((max-width: 535px) and (max-width: 830px)) {
        // transform: translate(-50%, -50%) scale(1);
        transform: scale(1) translateY(-50%);
    }

    @media ((min-height: 1080px) and (min-width: 1700px)) {
        transform: translateY(-50%) scale(2.7);
    }
    @media ((min-height: 1080px) and (min-width: 1900px)) {
        transform: translateY(-50%) scale(3);
    }
}

.obscured {
    opacity: 0;
    visibility: hidden;
}

.dimmed {
    opacity: 0.25;
    &:hover {
        opacity: 1;
    }
}

.moved-down {
    transform: translateY(50px);
    // @media (min-height: 850px) {
    @media (min-height: 1080px) {
        transform: translateY(250px);
    }
}

// ================================================================================================

.paused {
    animation: blink 3s ease 0s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}
